.forms
  .login
    = form_for :session, url: login_path do |f|
      = field_set_tag 'Log In'
      .form-inline
        .form-group
          = f.label :username
        .form-group
          = f.text_field :username, :class => 'form-control'

      .form-inline
        .form-group
          = f.label :password
        .form-group
          = f.password_field :password, :class => 'form-control'
  
      = f.submit 'Log In', :class => 'btn btn-default'