%h1 Listing loans

%table.table.table-striped
  %thead
    %tr
      %th TCT
      %th Subdivision name
      %th Block
      %th Lot
      %th Lot area
      %th Floor area
      %th Purchase price
      %th Downpayment Amount
      %th Monthly installment
      %th Interest rate
      %th Fully Paid?
      %th
      %th
      %th
      %th
      %th

  %tbody
    - @loans.each do |loan|
      %tr
        %td= loan.TCT
        %td= loan.subdivision_name
        %td= loan.block
        %td= loan.lot
        %td= loan.lot_area
        %td= loan.floor_area
        %td= loan.purchase_price
        %td= loan.purchase_price * 0.2
        %td= loan.monthly_installment
        %td= loan.interest_rate
        %td= loan.is_fully_paid
        %td= link_to 'View Payments', view_payment_path("payment" => { :loan_id => loan.id }), :class => 'btn btn-info'
        - if !loan.is_fully_paid
          %td= link_to 'Add Payment', new_payment_path("payment" => { :loan_id => loan.id }), :class => 'btn btn-success'
        - else
          %td
        %td= link_to 'Edit', edit_loan_path(loan), :class => 'btn btn-primary'
        %td= link_to 'Destroy', loan, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'
