%h1 Listing loans

%table
  %thead
    %tr
      %th Tct
      %th Subdivision name
      %th Block
      %th Lot
      %th Lot area
      %th Floor area
      %th Purchase price
      %th Monthly installment
      %th Interest rate
      %th

  %tbody
    - @loans.each do |loan|
      %tr
        %td= loan.TCT
        %td= loan.subdivision_name
        %td= loan.block
        %td= loan.lot
        %td= loan.lot_area
        %td= loan.floor_area
        %td= loan.purchase_price
        %td= loan.monthly_installment
        %td= loan.interest_rate
        %td= link_to 'Add Payment', new_payment_path("payment" => { :loan_id => loan.id })
        %td= link_to 'View Payments', view_payment_path("payment" => { :loan_id => loan.id })
