= form_for @payment do |f|
  - if @payment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@payment.errors.count, "error")} prohibited this payment from being saved:"
      %ul
        - @payment.errors.full_messages.each do |msg|
          %li= msg


  %table.table
    %tr
      %td Due Date
      %td
        .form-inline
          .form-group
            = f.date_select :due_date, {:order => [:month, :day, :year]}, :class => "form-control"
    %tr
      %td Date Paid
      %td
        .form-inline
          .form-group
            = f.date_select :date_paid, {:order => [:month, :day, :year]}, :class => "form-control"
    %tr
      %td OR Number
      %td
        .form-inline
          .form-group
            = f.text_field :or_number, :class => "form-control"
    %tr
      %td Total Payment
      %td
        .form-inline
          .form-group
            = f.text_field :total_payment, :value => @loan.monthly_installment, :class => "form-control"
    %tr
      %td Penalty
      %td
        .form-inline
          .form-group
            = f.text_field :installment_penalty_amount, :class => "form-control"
  
  .field
    = f.hidden_field :loan_id, :value => @loan.id 
  .actions
    = f.submit 'Save', :class => "btn btn-success"
