%h1 Listing Payments

%table.table.table-striped
  %thead
    %tr
      %th Due Date
      %th Date Paid
      %th OR Number
      %th Total Payment
      %th Principal Amount
      %th Interest Amount
      %th Installment Penalty Amount
      %th Balance Penalty Amount
      %th Grand Total

  %tbody
    - @payments.each do |payment|
      %tr
        %td= payment.due_date
        %td= payment.date_paid
        %td= payment.or_number
        %td= payment.total_payment
        %td= payment.principal_amount
        %td= payment.interest_amount
        %td= payment.installment_penalty_amount
        %td= payment.balance_penalty_amount
        %td= payment.grand_total