= form_for @employment_history do |f|
  - if @employment_history.errors.any?
    #error_explanation
      %h2= "#{pluralize(@employment_history.errors.count, "error")} prohibited this employment_history from being saved:"
      %ul
        - @employment_history.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :period_covered
    = f.text_field :period_covered
  .field
    = f.label :position
    = f.text_field :position
  .field
    = f.label :employment_status
    = f.text_field :employment_status
  .field
    = f.label :employer
    = f.text_field :employer
  .field
    = f.label :nature
    = f.text_field :nature
  .field
    = f.label :office_tel_no
    = f.text_field :office_tel_no
  .actions
    = f.submit 'Save'
