%h1 Listing employment_histories

%table
  %thead
    %tr
      %th Period covered
      %th Position
      %th Employment status
      %th Employer
      %th Nature
      %th Office tel no
      %th
      %th
      %th

  %tbody
    - @employment_histories.each do |employment_history|
      %tr
        %td= employment_history.period_covered
        %td= employment_history.position
        %td= employment_history.employment_status
        %td= employment_history.employer
        %td= employment_history.nature
        %td= employment_history.office_tel_no
        %td= link_to 'Show', employment_history
        %td= link_to 'Edit', edit_employment_history_path(employment_history)
        %td= link_to 'Destroy', employment_history, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Employment history', new_employment_history_path
