%p#notice= notice

%p
  %b Period covered:
  = @employment_history.period_covered
%p
  %b Position:
  = @employment_history.position
%p
  %b Employment status:
  = @employment_history.employment_status
%p
  %b Employer:
  = @employment_history.employer
%p
  %b Nature:
  = @employment_history.nature
%p
  %b Office tel no:
  = @employment_history.office_tel_no

= link_to 'Edit', edit_employment_history_path(@employment_history)
\|
= link_to 'Back', employment_histories_path
