= form_for @buyer do |f|
  - if @buyer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@buyer.errors.count, "error")} prohibited this buyer from being saved:"
      %ul
        - @buyer.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    %legend Personal Reference
    %table
      %tr
        %td Full Name
        %td
          .form-inline
            .form-group
              = f.text_field :first_name, :class => "form-control", :placeholder => "First Name"
            .form-group
              = f.text_field :middle_name, :class => "form-control", :placeholder => "Middle Name"
            .form-group
              = f.text_field :family_name, :class => "form-control", :placeholder => "Last Name"
      %tr
        %td Birthdate
        %td
          .form-inline
            .form-group
              = f.date_select :birthdate, { start_year: 100.years.ago.year, end_year: Date.today.year, default: Date.today, :order => [:month, :day, :year]}, :class => "form-control"
      %tr
        %td Age
        %td
          .form-inline
            .form-group
              = f.number_field :age, :class => "form-control"
      %tr
        %td Citizenship
        %td
          .form-inline
            .form-group
              = f.text_field :citizenship, :class => "form-control"
      %tr
        %td Sex
        %td
          .form-inline
            .form-group
              = f.radio_button :sex, :male
              Male
              = f.radio_button :sex, :female 
              Female
      %tr
        %td Civil Status
        %td
          .form-inline
            .form-group
              = f.radio_button :civil_status, :single
              Single
              = f.radio_button :civil_status, :married
              Married
              = f.radio_button :civil_status, :widowed
              Widowed
              = f.radio_button :civil_status, :legally_separated
              Legally Separated
      %tr
        %td No. of Dependents
        %td
          .form-inline
            .form-group
              = f.number_field :no_of_dependents, :class => "form-control"
      %tr
        %td Home Address
        %td
          .form-inline.address
            .form-group.home-address
              = f.text_field :home_address, :class => "form-control", :placeholder => "Address"
            .form-group
              = f.text_field :home_zip_code, :class => "form-control", :placeholder => "Zip Code"
      %tr
        %td Home Ownership
        %td
          .form-inline
            .form-group
              = f.radio_button :home_ownership, :owned
              Owned
              = f.radio_button :home_ownership, :rented
              Rented
              = f.radio_button :home_ownership, :living_with_relatives
              Living with Relatives
              = f.radio_button :home_ownership, :company_provided
              Company Provided
              = f.radio_button :home_ownership, :others
              Others
      %tr
        %td Years of Stay
        %td
          .form-inline
            .form-group
              = f.number_field :years_of_stay, :class => "form-control"
      %tr
        %td Home Telephone Number
        %td
          .form-inline
            .form-group
              = f.text_field :home_tel_number, :class => "form-control"
      %tr
        %td Provincial Address
        %td
          .form-inline.address
            .form-group.home-address
              = f.text_field :prov_address, :class => "form-control", :placeholder => "Address"
            .form-group
              = f.text_field :prov_zip_code, :class => "form-control", :placeholder => "ZIP Code"
      %tr
        %td ACR / Resident Card No.
        %td
          .form-inline
            .form-group
              = f.text_field :acr_resident_card_number, :class => "form-control"
      %tr
        %td Education
        %td
          .form-inline
            .form-group
              = f.radio_button :education, :high_school
              High School
              = f.radio_button :education, :college
              College
              = f.radio_button :education, :post_graduate
              Post Graduate
              = f.radio_button :education, :others
              Others
      %tr
        %td Cellphone Number
        %td
          .form-inline
            .form-group
              = f.text_field :cellphone_number, :class => "form-control"
      %tr
        %td Email Address
        %td 
          .form-inline
            .form-group
              = f.email_field :email_address, :class => "form-control"
      %tr
        %td SSS / HDMF / GSIS No.
        %td
          .form-inline
            .form-group
              = f.text_field :sss_hdmf_gsis_number, :class => "form-control"
      %tr
        %td TIN
        %td
          .form-inline
            .form-group
              = f.text_field :tin, :class => "form-control"
      %tr
        %td Occupation
        %td
          .form-inline
            .form-group
              = f.radio_button :occupation, :self_employed
              Self-Employed
              = f.radio_button :occupation, :unemployed
              Unemployed
              = f.radio_button :occupation, :employed
              Employed
              = f.radio_button :occupation, :retired
              Retired
      %tr
        %td Employment Type
        %td
          .form-inline
            .form-group
              = f.radio_button :employment_type, :local
              Local
              = f.radio_button :employment_type, :ofw
              OFW
      %tr
        %td Years Worked
        %td
          .form-inline
            .form-group
              = f.number_field :years_worked, :class => "form-control"
      %tr
        %td Years Abroad
        %td
          .form-inline
            .form-group
              = f.number_field :years_abroad, :class => "form-control"
      %tr
        %td Contract End
        %td
          .form-inline
            .form-group
              = f.date_select :contract_end, { start_year: Date.today.year, end_year: Date.today.year + 20, :order => [:month, :day, :year] }, :class => "form-control"
      
  %br
  
  %fieldset
    %legend
      Employment History
    %table.table.table-condensed
      %tr 
        %td Period Covered
        %td Position
        %td Employment Status
        %td Employer / Business Name
        %td Nature of Business
        %td Office Tel. No.
      %tr 
        %td= f.text_field :period_covered1, :class => "form-control"
        %td= f.text_field :position1, :class => "form-control"
        %td= f.text_field :employment_status1, :class => "form-control"
        %td= f.text_field :employer1, :class => "form-control"
        %td= f.text_field :nature1, :class => "form-control"
        %td= f.text_field :office_tel_no1, :class => "form-control"
      %tr
        %td= f.text_field :period_covered2, :class => "form-control"
        %td= f.text_field :position2, :class => "form-control"
        %td= f.text_field :employment_status2, :class => "form-control"
        %td= f.text_field :employer2, :class => "form-control"
        %td= f.text_field :nature2, :class => "form-control"
        %td= f.text_field :office_tel_no2, :class => "form-control"
      %tr
        %td= f.text_field :period_covered3, :class => "form-control"
        %td= f.text_field :position3, :class => "form-control"
        %td= f.text_field :employment_status3, :class => "form-control"
        %td= f.text_field :employer3, :class => "form-control"
        %td= f.text_field :nature3, :class => "form-control"
        %td= f.text_field :office_tel_no3, :class => "form-control"
    
    %table
      %tr
        %td Insurance
        %td
          .form-inline
            .form-group
              = f.text_field :insurance, :class => "form-control"
      %tr
        %td Coverage Amount
        %td
          .form-inline
            .form-group
              = f.number_field :coverage_amount, :class => "form-control"
  
  %fieldset
    %legend Spouse
    %table
      %tr
        %td Full Name
        %td
          .form-inline
            .form-group
              = f.text_field :spouse_first_name, :class => "form-control", :placeholder => "First Name"
            .form-group
              = f.text_field :spouse_middle_name, :class => "form-control", :placeholder => "Middle Name"
            .form-group
              = f.text_field :spouse_family_name, :class => "form-control", :placeholder => "Last Name"
      %tr
        %td Birthdate
        %td
          .form-inline
            .form-group
              = f.date_select :spouse_birthdate, { start_year: 100.years.ago.year, end_year: Date.today.year, default: Date.today, :order => [:month, :day, :year]}, :class => "form-control"
      %tr
        %td Age
        %td
          .form-inline
            .form-group
              = f.number_field :spouse_age, :class => "form-control"
      %tr
        %td Citizenship
        %td
          .form-inline
            .form-group
              = f.text_field :spouse_citizenship, :class => "form-control"
      %tr
        %td Sex
        %td
          .form-inline
            .form-group
              = f.radio_button :spouse_sex, :male
              Male
              = f.radio_button :spouse_sex, :female 
              Female
      %tr
        %td Civil Status
        %td
          .form-inline
            .form-group
              = f.radio_button :spouse_civil_status, :single
              Single
              = f.radio_button :spouse_civil_status, :married
              Married
              = f.radio_button :spouse_civil_status, :widowed
              Widowed
              = f.radio_button :spouse_civil_status, :legally_separated
              Legally Separated
      %tr
        %td No. of Dependents
        %td
          .form-inline
            .form-group
              = f.number_field :spouse_no_of_dependents, :class => "form-control"
      %tr
        %td Home Address
        %td
          .form-inline.address
            .form-group.home-address
              = f.text_field :spouse_home_address, :class => "form-control", :placeholder => "Address"
            .form-group
              = f.text_field :spouse_home_zip_code, :class => "form-control", :placeholder => "Zip Code"
      %tr
        %td Education
        %td
          .form-inline
            .form-group
              = f.radio_button :spouse_education, :high_school
              High School
              = f.radio_button :spouse_education, :college
              College
              = f.radio_button :spouse_education, :post_graduate
              Post Graduate
              = f.radio_button :spouse_education, :others
              Others
      %tr
        %td Cellphone No.
        %td
          .form-inline
            .form-group
              = f.text_field :spouse_cellphone_number, :class => "form-control"
      %tr
        %td Email Address
        %td
          .form-inline
            .form-group
              = f.text_field :spouse_email_address, :class => "form-control"
      %tr
        %td SSS / HDMF / GSIS No.
        %td
          .form-inline
            .form-group
              = f.text_field :spouse_sss_hdmf_gsis_number, :class => "form-control"
      %tr
        %td Occupation
        %td
          .form-inline
            .form-group
              = f.radio_button :spouse_occupation, :self_employed
              Self-Employed
              = f.radio_button :spouse_occupation, :unemployed
              Unemployed
              = f.radio_button :spouse_occupation, :employed
              Employed
              = f.radio_button :spouse_occupation, :retired
              Retired
      %tr
        %td Employment Type
        %td
          .form-inline
            .form-group
              = f.radio_button :spouse_employment_type, :local
              Local
              = f.radio_button :spouse_employment_type, :ofw
              OFW
      %tr
        %td Years Worked
        %td
          .form-inline
            .form-group
              = f.number_field :spouse_years_worked, :class => "form-control"
      %tr
        %td Years Abroad
        %td
          .form-inline
            .form-group
              = f.number_field :spouse_years_abroad, :class => "form-control"
      %tr
        %td Contract End
        %td
          .form-inline
            .form-group
              = f.date_select :spouse_contract_end, { start_year: Date.today.year, end_year: Date.today.year + 20, :order => [:month, :day, :year] }, :class => "form-control"
      
      
  %fieldset
    %legend
      Employment History
    %table.table.table-condensed
      %tr 
        %td Period Covered
        %td Position
        %td Employment Status
        %td Employer / Business Name
        %td Nature of Business
        %td Office Tel. No.
      %tr 
        %td= f.text_field :spouse_period_covered1, :class => "form-control"
        %td= f.text_field :spouse_position1, :class => "form-control"
        %td= f.text_field :spouse_employment_status1, :class => "form-control"
        %td= f.text_field :spouse_employer1, :class => "form-control"
        %td= f.text_field :spouse_nature1, :class => "form-control"
        %td= f.text_field :spouse_office_tel_no1, :class => "form-control"
      %tr
        %td= f.text_field :spouse_period_covered2, :class => "form-control"
        %td= f.text_field :spouse_position2, :class => "form-control"
        %td= f.text_field :spouse_employment_status2, :class => "form-control"
        %td= f.text_field :spouse_employer2, :class => "form-control"
        %td= f.text_field :spouse_nature2, :class => "form-control"
        %td= f.text_field :spouse_office_tel_no2, :class => "form-control"
      %tr
        %td= f.text_field :spouse_period_covered3, :class => "form-control"
        %td= f.text_field :spouse_position3, :class => "form-control"
        %td= f.text_field :spouse_employment_status3, :class => "form-control"
        %td= f.text_field :spouse_employer3, :class => "form-control"
        %td= f.text_field :spouse_nature3, :class => "form-control"
        %td= f.text_field :spouse_office_tel_no3, :class => "form-control"
    
    %table
      %tr
        %td Insurance
        %td
          .form-inline
            .form-group
              = f.text_field :spouse_insurance, :class => "form-control"
      %tr
        %td Coverage Amount
        %td
          .form-inline
            .form-group
              = f.number_field :spouse_coverage_amount, :class => "form-control"
  .actions
    = f.submit 'Save', :class => "btn btn-success"
