%h1 Listing buyers

= form_tag buyer_search_path, :method => 'get' do
  .form-inline
    .form-group
      = text_field_tag :search, params[:search], :class => 'form-control'
    .form-group
      = submit_tag 'Search', :name => nil, :class => 'btn btn-default'
%hr

%table.table.table-striped
  %thead
    %tr
      %th First Name
      %th Family Name
      %th
      %th
      %th

  %tbody
    - @buyers.each do |buyer|
      %tr
        %td= buyer.first_name
        %td= buyer.family_name
        %td= link_to 'Show', buyer, :class => 'btn btn-info'
        %td= link_to 'Edit', edit_buyer_path(buyer), :class => 'btn btn-primary'
        %td= link_to 'Destroy', buyer, :method => :delete, :class => 'btn btn-danger', :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Buyer', new_buyer_path, :class => 'btn btn-success'
