%p#notice= notice

%h2 Personal Reference
%table.table.table-striped
  %tr
    %td First Name
    %td= @buyer.first_name
  %tr
    %td Middle Name
    %td= @buyer.middle_name
  %tr
    %td Last Name
    %td= @buyer.family_name
  %tr
    %td Birthdate
    %td= @buyer.birthdate
  %tr
    %td Citizenship
    %td= @buyer.citizenship
  %tr
    %td Sex
    %td= @buyer.sex
  %tr
    %td Civil Status
    %td= @buyer.civil_status
  %tr
    %td No. of Dependents
    %td= @buyer.no_of_dependents
  %tr
    %td Home Address
    %td= @buyer.home_address
  %tr
    %td Zip Code
    %td= @buyer.home_zip_code
  %tr
    %td No. Of Years Stay
    %td= @buyer.years_of_stay
  %tr
    %td Home Telephone No.
    %td= @buyer.home_tel_number
  %tr
    %td Foreign / Provincial Home Address
    %td= @buyer.prov_address
  %tr
    %td ACR / Resident Card No.
    %td= @buyer.acr_resident_card_number
  %tr
    %td Zip Code
    %td= @buyer.prov_zip_code
  %tr
    %td Education
    %td= @buyer.education
  %tr
    %td Cellphone No.
    %td= @buyer.cellphone_number
  %tr
    %td E-mail Address
    %td= @buyer.email_address
  %tr
    %td SSS / HDMF / GSIS No.
    %td= @buyer.sss_hdmf_gsis_number
  %tr
    %td TIN
    %td= @buyer.tin
  %tr
    %td Occupation
    %td= @buyer.occupation
  %tr
    %td Employment Type
    %td= @buyer.employment_type
  %tr
    %td Total Years Working / In Business
    %td= @buyer.years_worked
  %tr
    %td Total Years Abroad
    %td= @buyer.years_abroad
  %tr
    %td Date Current Contract Ends
    %td= @buyer.contract_end
  
%h2 Employment History
%table.table.table-bordered
  %tr 
    %td Period Covered
    %td Position
    %td Employment Status
    %td Employer / Business Name
    %td Nature of Business
    %td Office Tel. No.
  %tr 
    %td= @buyer.period_covered1
    %td= @buyer.position1
    %td= @buyer.employment_status1
    %td= @buyer.employer1
    %td= @buyer.nature1
    %td= @buyer.office_tel_no1
  %tr
    %td= @buyer.period_covered2
    %td= @buyer.position2
    %td= @buyer.employment_status2
    %td= @buyer.employer2
    %td= @buyer.nature2
    %td= @buyer.office_tel_no2
  %tr
    %td= @buyer.period_covered3
    %td= @buyer.position3
    %td= @buyer.employment_status3
    %td= @buyer.employer3
    %td= @buyer.nature3
    %td= @buyer.office_tel_no3
  
%table.table.table-striped
  %tr
    %td Life Insurance
    %td= @buyer.insurance
  %tr
    %td Coverage / Amount
    %td= @buyer.coverage_amount
    
%h2 Spouse
%table.table.table-striped
  %tr
    %td First Name
    %td= @buyer.spouse_first_name
  %tr
    %td Middle Name
    %td= @buyer.spouse_middle_name
  %tr
    %td Last Name
    %td= @buyer.spouse_family_name
  %tr
    %td Birthdate
    %td= @buyer.spouse_birthdate
  %tr
    %td Citizenship
    %td= @buyer.spouse_citizenship
  %tr
    %td Sex
    %td= @buyer.spouse_sex
  %tr
    %td Civil Status
    %td= @buyer.spouse_civil_status
  %tr
    %td No. of Dependents
    %td= @buyer.spouse_no_of_dependents
  %tr
    %td Home Address
    %td= @buyer.spouse_home_address
  %tr
    %td Zip Code
    %td= @buyer.spouse_home_zip_code
  %tr
    %td Education
    %td= @buyer.spouse_education
  %tr
    %td Cellphone No.
    %td= @buyer.spouse_cellphone_number
  %tr
    %td E-mail Address
    %td= @buyer.spouse_email_address
  %tr
    %td SSS / HDMF / GSIS No.
    %td= @buyer.spouse_sss_hdmf_gsis_number
  %tr
    %td Occupation
    %td= @buyer.spouse_occupation
  %tr
    %td Employment Type
    %td= @buyer.spouse_employment_type
  %tr
    %td Total Years Working / In Business
    %td= @buyer.spouse_years_worked
  %tr
    %td Total Years Abroad
    %td= @buyer.spouse_years_abroad
  %tr
    %td Date Current Contract Ends
    %td= @buyer.spouse_contract_end
    
%h2 Employment History
%table.table.table-bordered
  %tr 
    %td Period Covered
    %td Position
    %td Employment Status
    %td Employer / Business Name
    %td Nature of Business
    %td Office Tel. No.
  %tr 
    %td= @buyer.spouse_period_covered1
    %td= @buyer.spouse_position1
    %td= @buyer.spouse_employment_status1
    %td= @buyer.spouse_employer1
    %td= @buyer.spouse_nature1
    %td= @buyer.spouse_office_tel_no1
  %tr
    %td= @buyer.spouse_period_covered2
    %td= @buyer.spouse_position2
    %td= @buyer.spouse_employment_status2
    %td= @buyer.spouse_employer2
    %td= @buyer.spouse_nature2
    %td= @buyer.spouse_office_tel_no2
  %tr
    %td= @buyer.spouse_period_covered3
    %td= @buyer.spouse_position3
    %td= @buyer.spouse_employment_status3
    %td= @buyer.spouse_employer3
    %td= @buyer.spouse_nature3
    %td= @buyer.spouse_office_tel_no3
  
%table.table.table-striped
  %tr
    %td Life Insurance
    %td= @buyer.spouse_insurance
  %tr
    %td Coverage / Amount
    %td= @buyer.spouse_coverage_amount
  
  
= link_to 'Edit', edit_buyer_path(@buyer), :class => 'btn btn-primary'
&nbsp;
= link_to 'Add Loan', add_loan_path("loan" => { :buyer_id => @buyer.id }), :class => 'btn btn-success'
&nbsp;
= link_to 'View Loans', view_loan_path("loan" => { :buyer_id => @buyer.id }), :class => 'btn btn-info'
&nbsp;
= link_to 'Back', buyers_path, :class => 'btn btn-default'
