%h1 Reports

= form_tag view_reports_path do
  .form-inline
    .form-group 
      %strong Select Year:
    .form-group
      %ul.nav.nav-pills
        - if @input_year.eql? '2013'
          %li.active= link_to '2013', view_reports_path(:input_year => '2013')
        - else
          %li= link_to '2013', view_reports_path(:input_year => '2013')
        - if @input_year.eql? '2014'
          %li.active= link_to '2014', view_reports_path(:input_year => '2014')
        - else
          %li= link_to '2014', view_reports_path(:input_year => '2014')
        - if @input_year.eql? '2015'
          %li.active= link_to '2015', view_reports_path(:input_year => '2015')
        - else
          %li= link_to '2015', view_reports_path(:input_year => '2015')
        - if @input_year.eql? '2016'
          %li.active= link_to '2016', view_reports_path(:input_year => '2016')
        - else
          %li= link_to '2016', view_reports_path(:input_year => '2016')
      
%hr


%table.table.table-hover
  %thead
    %tr
      %th 
      %th Name of Buyer
      %th Block
      %th Lot
      %th Lot Area
      %th Terms
      %th Interest Rate
      %th Lot / House & Lot
      %th Total Contract Price
      %th Principal
      %th Interest
      %th Penalty
      %th Total
      %th Balance
      %th Unpaid Interest
      %th ICR Balance


  %tbody#table_content
    = render 'table'
      
